<div class="help-page">
    <div class="help-header">
        <h2>
            Aide & Support
        </h2>
        <p>
            Accueil / Aide & Support
        </p>
    </div>
    <app-contact>
        <h2 class="contact-title">
            Votre avis compte pour nous!
        </h2>
        <p class="contact-description">
            Si vous avez des questions et/ou souhaitez recevoir plus d'informations sur nous ou nos produits, n'hésitez pas à nous contacter.
        </p>
    </app-contact>
</div>