<div class="auth-title">
  <p>
    Connectez-vous
    <i class="bar-icon"></i>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
        <div class="alert alert-danger"
             *ngIf="form.errors">
          Champs invalides
        </div>
        <div class="alert alert-success"
             *ngIf="resetMessage">
          {{ resetMessage }}
        </div>
        <div class="alert alert-danger"
             *ngIf="errorMsg">
          {{ errorMsg }}
        </div>
        <div class="form-group mb-3">
          <label for="inputEmail1">Adresse e-mail</label>
          <input type="email"
                 class="form-control custom-form-control"
                 id="inputEmail1"
                 formControlName="email"
                 aria-describedby="emailHelp"
                 placeholder="exemple@domain.com"
                 [ngClass]="{'red-border': email.invalid && (email.dirty || email.touched)}">
          <small id="emailHelp"
                 class="form-text text-muted help-block with-errors"
                 *ngIf=" email.invalid && (email.dirty || email.touched)"
          >Entrez une adresse e-mail valide</small>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input
                  formControlName="password"
                  id="password"
                  type="password"
                  placeholder="Mot de passe"
                  class="form-control custom-form-control"

                  [ngClass]="{'red-border': password.invalid && (password.dirty || password.touched)}"
          >
          <small id="passwordHelp" class="form-text text-muted help-block with-errors"
                 *ngIf=" password.invalid && (password.dirty || password.touched)">
            Entrez Votre mot de passe
          </small>
        </div>
        <a routerLink="/password/reset-request" class="forgot-link">Mot de passe oublié ?</a>
        <div class="button-controls">
          <button [disabled]="!form.valid || isSubmitting" type="submit" class="btn green-btn">
            <span>
                  <fa-icon class="display-none" [ngClass]="{
                        'rotating': isSubmitting
                        }" [icon]="['fas', 'spinner']"></fa-icon>
                </span>
            Connexion
          </button>
        </div>
      </form>
      <a routerLink="/register" class="register-link"><span>Pas encore inscrit ?</span> Créer un compte</a>
    </div>
  </div>
</div>

