@font-face {
  font-family: 'Apercu Bold Italic';
  src: url('assets/fonts/Apercu-BoldItalic.eot');
  src: url('assets/fonts/Apercu-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Apercu-BoldItalic.woff2') format('woff2'),
  url('assets/fonts/Apercu-BoldItalic.woff') format('woff'),
  url('assets/fonts/Apercu-BoldItalic.ttf') format('truetype'),
  url('assets/fonts/Apercu-BoldItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Apercu Bold';
  src: url('assets/fonts/Apercu-Bold.eot');
  src: url('assets/fonts/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Apercu-Bold.woff2') format('woff2'),
  url('assets/fonts/Apercu-Bold.woff') format('woff'),
  url('assets/fonts/Apercu-Bold.ttf') format('truetype'),
  url('assets/fonts/Apercu-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Apercu Medium Italic';
  src: url('assets/fonts/Apercu-MediumItalic.eot');
  src: url('assets/fonts/Apercu-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Apercu-MediumItalic.woff2') format('woff2'),
  url('assets/fonts/Apercu-MediumItalic.woff') format('woff'),
  url('assets/fonts/Apercu-MediumItalic.ttf') format('truetype'),
  url('assets/fonts/Apercu-MediumItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Apercu Medium';
  src: url('assets/fonts/Apercu-Medium.eot');
  src: url('assets/fonts/Apercu-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Apercu-Medium.woff2') format('woff2'),
  url('assets/fonts/Apercu-Medium.woff') format('woff'),
  url('assets/fonts/Apercu-Medium.ttf') format('truetype'),
  url('assets/fonts/Apercu-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'Apercu';
  src: url('assets/fonts/Apercu-Regular.eot');
  src: url('assets/fonts/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Apercu-Regular.woff2') format('woff2'),
  url('assets/fonts/Apercu-Regular.woff') format('woff'),
  url('assets/fonts/Apercu-Regular.ttf') format('truetype'),
  url('assets/fonts/Apercu-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Apercu Italic';
  src: url('assets/fonts/Apercu-Italic.eot');
  src: url('assets/fonts/Apercu-Italic.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Apercu-Italic.woff2') format('woff2'),
  url('assets/fonts/Apercu-Italic.woff') format('woff'),
  url('assets/fonts/Apercu-Italic.ttf') format('truetype'),
  url('assets/fonts/Apercu-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Apercu Light';
  src: url('assets/fonts/Apercu-Light.eot');
  src: url('assets/fonts/Apercu-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Apercu-Light.woff2') format('woff2'),
  url('assets/fonts/Apercu-Light.woff') format('woff'),
  url('assets/fonts/Apercu-Light.ttf') format('truetype'),
  url('assets/fonts/Apercu-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Black';
  src: url('assets/fonts/Roboto-Black.eot');
  src: url('assets/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Roboto-Black.woff2') format('woff2'),
  url('assets/fonts/Roboto-Black.woff') format('woff'),
  url('assets/fonts/Roboto-Black.ttf') format('truetype'),
  url('assets/fonts/Roboto-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}
