//fonts
$regular-font: 'Apercu';
$bold-italic-font: 'Apercu Bold Italic';
$bold-font: 'Apercu Bold';
$medium-italic-font: 'Apercu Medium Italic';
$medium-font: 'Apercu Medium';
$italic-font: 'Apercu Italic';
$light-font: 'Apercu Light';
$roboto-black: 'Roboto Black';

//colors
$gray-0: #fbfbfb;
$gray-1: #f2f2f2;
$gray-2: #bab9b9;
$gray-3: #f4f4f4;
$gray-4: #f0efef;
$gray-5: #e8e8e8;
$gray-6: #9b9b9b;
$gray-7: #616369;
$gray-8: #f5f5f5;
$green-1: #55be74;
$green-2: #c7e9d1;
$green-3: #3bb15e;
$black-1: #1f232b;
$black-2: #141825;
$red-1: #ff5565;
$red-2: #fe3f4c;
$black-shadow-color: rgba(0,0,0,0.05);
$black-shadow-color2: rgba(43, 43, 43, 0.1);
$black-shadow-color3: rgba(28,28,28,0.18);
$green-box-shadow: rgba(85, 190, 116, 0.22);
$green-opacity: rgba(85, 190, 116, 0.2);
$green-opacity-1: rgba(85, 190, 116, 0.06);
$info-blue: #1c6ce2;
$info-blue-2: #4789ea;
/**PLATEFORM VARIABLES : **/

$content-bg-color: #fafafa;
$dark-purple: #4e2c69;
$purple: #7560ed;
$light-purple: #b8acf8;
$lighter-purple: #b6acf6;
$gradiant-purple: #c074dc;
$custom-green: #5dd0a5;
$custom-light-green: #9fe5c9;
$purple-boxshadow: rgba(227, 224, 249, 0.43);
$label-color: #aeaac1;
$redalert-color: #f96170; // Salmon
$border-color: #d3d7dc;
$subtitle-color: #9592a7;
$color-1: #3e454c; // Mako
$color-2: #1784c7; // Denim
$color-3: #ffffff; // White
$color-4: #f96170; // Salmon
$purple-boxshadow: rgba(227, 224, 249, 0.43);
$light-border: rgba(0, 0, 0, 0.05);
$dark-blue: #1f232b;
$green-custom: #54be73;
$dark-shadow: rgba(31, 34, 43, 0.1);
$box-shadow: rgba(31, 34, 43, 0.05);
//box colors
//purple box
$bcolor-1: #a376fc;
$bcolor-2: #f96f9b;
$pink-shadow: rgba(225, 118, 239, 0.42);
//blue box
$bcolor-3: #00cef9;
$bcolor-4: #00e6af;
$blue-shadow: rgba(0, 230, 175, 0.42);
//red box
$bcolor-5: #ff5858;
$bcolor-6: #e888b7;
$red-shadow: rgba(232, 136, 183, 0.42);
//Green Box
$green-shadow: rgba(84, 190, 115, 0.4);
$gradiant-green: #76ce90;
$color-7: #3E4B5B;
//$strip-color: rgba(31, 34, 43, 0.06);
$strip-color: #fafafa;
$pending-color: #ff8008;
// fonts

$primary-font: 'Apercu';
$Bold-font: 'Apercu Bold';
$Medium-font: 'Apercu Medium';
$Regular-font: 'Apercu';


//sizes
$header-height-S: 75px;
$header-height-M: 75px;

//sidebar size

$sidebar-width-M: 135px;
$sidebar-width-L: 260px;
