    <div class="slide-wrapper">
        <app-slider></app-slider>
        <app-tracker></app-tracker>
    </div>
    <app-who-are-we></app-who-are-we>
    <app-our-offers></app-our-offers>
    <app-simulator></app-simulator>
    <app-clients></app-clients>
    <app-contact>
        <p class="top-title">
            {{ContactTitle}}
        </p>
        <h2 class="contact-title">
            {{ContactTitle}}
        </h2>
        <p class="contact-description">
           {{ContactDescription}}
        </p>
    </app-contact>

