
<div class="tracker-container relative-position" >
  <div class="tracker-title">
    <p>
      suivez vos produits
      <span>
		        Détectez l’emplacement de vos produits rapidement
		    </span>
      <i class="bar-icon"></i>
    </p>
  </div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <div class="col-md-7 col-sm-6 col-12">
        <input type="text" class="form-control" formControlName="searchBox" id="inputSearch" placeholder="Recherche ..."   [ngClass]="{'red-border': searchBox.invalid && (searchBox.dirty || searchBox.touched)}"
        >
        <small class="form-text text-muted help-block with-errors"
               *ngIf=" searchBox.invalid && (searchBox.dirty || searchBox.touched)">
                  <span>
                    Code public 11 caractere
                  </span>
        </small>
      </div>
      <div class="col-md-5 col-sm-6 col-12">
        <button [disabled]=" !searchForm.valid || isSubmitting" type="submit" class="btn green-btn-lg mb-2">Recherche</button>
      </div>

    </div>
  </form>
</div>

<div class="command-container">
  <div class="intro-box" *ngIf="!error && !info">

    <div class="rule-image">
      <img src="assets/img/livred-box.svg" alt="">
    </div>
    <div class="rule-text">
      <h4>Restez à jour et suivez votre colis</h4>
      <p>
        - Entrez le code public de votre expedition pour afficher toutes les informations relatives à l'expedition de votre colis
      </p>
    </div>

  </div>
  <div class="error-box" *ngIf="error">
    <h4>
      Numero de colis est Invalide . Veuillez saisir un code valide .
    </h4>
  </div>
  <div class="info-box" *ngIf="info && !error">
    <h3>Suivi d'un colis : </h3>

    <table class="table custom-table additional-services">
      <tbody>
      <tr >
        <td scope="row" data-label="Services Complémentaires">
          <ul class="list-inline package-item">
            <li class="list-inline-item">
              <span class="description"><strong>De : </strong> {{depAdress.firstName}} {{depAdress.lastName}}</span>
              <p class="package-name">{{expedition.pickUpDate | date:'d'}}/{{expedition.pickUpDate | date:'M'}}/{{expedition.pickUpDate | date:'y'}} </p>
            </li>
            <li class="list-inline-item">
              <span class="description"><strong>Ref : </strong>{{expedition.publicCode}}</span>
              <p>{{expedition.packages.length}} Courrier</p>
            </li>
            <li class="list-inline-item">
              <span class="description"><strong>Vers : </strong>{{desAdress.firstName}} {{desAdress.lastName}}</span>
              <p *ngIf="expedition.deliveryDate else deleveryDateNull">{{expedition.deliveryDate | date: 'd'}}/{{expedition.deliveryDate | date: 'M'}}/{{expedition.deliveryDate | date: 'y'}}</p>
              <ng-template #deleveryDateNull>
                <p >Date de livraison pas encore confirmée</p>
              </ng-template>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
    <!--        *ngIf="expedition.deliveryMethod==='drop'"-->
    <aw-wizard  [disableNavigationBar]="true" #wwizard>
      <aw-wizard-step stepId="0" stepTitle="start"><span class="text-step">preparation de colis </span><div *ngIf="expedition.depPointRelai; then depPoint"></div>
        <div *ngIf="detaills.length>0;then detailTable"></div>
      </aw-wizard-step>
      <aw-wizard-step stepId="1" stepTitle="PointRelaiDepart" *ngIf="expedition.depPointRelai"><span class="text-step"> PointRelais Depart</span>
        <div *ngIf="detaills.length>0;then detailTable"></div>
      </aw-wizard-step>
      <aw-wizard-step stepId="2" stepTitle="Depot"><span class="text-step">Expedition a nos Depot</span>
        <div *ngIf="detaills.length>0;then detailTable"></div>
      </aw-wizard-step>
      <aw-wizard-step stepId="3" stepTitle="outForDelivery" ><span class="text-step">En cours de livraison</span>
        <div *ngIf="detaills.length>0;then detailTable"></div>
      </aw-wizard-step>
      <aw-wizard-step stepId="4" stepTitle="PointRelaiDes" *ngIf="expedition.desPointRelai" ><span class="text-step">Point Relais destination </span><div *ngIf="expedition.desPointRelai; then desPoint"></div>
        <div *ngIf="detaills.length>0;then detailTable"></div>
      </aw-wizard-step>
      <aw-wizard-step stepId="5" stepTitle="finished" ><span class="text-step">Expedition livré</span>
        <div *ngIf="detaills.length>0;then detailTable"></div>
      </aw-wizard-step>

    </aw-wizard>




  </div>
  <ng-template #detailTable>
    <h3 class="title3">Détails</h3>
    <div class="table table-responsive">
      <table class="suivi_table">
      <thead>
      <tr>
        <th>date</th>
        <th>localisation</th>
        <th>description</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let detail of detaills ">
        <tr>
          <td>{{detail.date | date:'d'}} / {{detail.date | date:'M'}} / {{detail.date | date:'y'}}</td>
          <td><div *ngIf="!detail.dataTarget else mapButton ">{{detail.localisation}}</div>
            <ng-template #mapButton><button  data-toggle="modal" [attr.data-target]=detail.dataTarget  >{{detail.localisation}}</button></ng-template> </td>
          <td>{{detail.description}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    </div>
  </ng-template>

  <ng-template #depPoint>
    <div class="form-row mb-2">
      <button class="btn green-btn-sm position-btn"
              data-toggle="modal"
              data-target="#dePointsModalDepart">
        Voir le point de relais
      </button>
    </div>
    <div class="custom-rely">
      <p>Déposez votre colis dans notre point relais</p>
    </div>
  </ng-template>
  <ng-template #desPoint>
    <div class="form-row mb-2">
      <button class="btn green-btn-sm position-btn"
              data-toggle="modal"
              data-target="#dePointsModalArrive">
        Voir le point de relais
      </button>
    </div>
    <div class="custom-rely">
      <p>Votre colis est dans notre point relais</p>
    </div>
  </ng-template>
</div>

<!-- modal de map point relais de depart-->
<div class="modal fade" id="dePointsModalDepart" tabindex="-1" role="dialog" aria-labelledby="dePointsModalDepart" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Point de relai</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="step-one">
          <app-suivi-map [pointRelai]="expedition.depPointRelai"></app-suivi-map>
        </div >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn black-btn-xs" data-dismiss="modal" >Fermer</button>
      </div>
    </div>
  </div>
</div>

<!--modal de map de point de relais de destination-->

<div class="modal fade" id="dePointsModalArrive" tabindex="-1" role="dialog" aria-labelledby="dePointsModalArrive" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">Point de relais</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="stepone-des">
          <app-suivi-map [pointRelai]="expedition.desPointRelai"></app-suivi-map>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn black-btn-xs" data-dismiss="modal" >Fermer</button>
      </div>

    </div>
  </div></div>
