<div class="auth-title">
  <p>
    Compte créé
    <i class="bar-icon"></i>
  </p>
</div>
<div class="account-creation">
    <div class="image-content">
      <img src="assets/img/rocket-img.png" alt="mail envoyé">
    </div>
  <div class="text-content">
    <p class="green-text">Compte créé avec succès</p>
    <P class="default-text">Accédez à votre boite mail pour confirmer votre compte</P>
    <p class="redirection-text">Vou serez redirigé automatiquement vers la page d'accueil dans quelques secondes ...</p>
  </div>
</div>

