<div class="auth-title">
  <p>
    Mot de passe oublié
    <i class="bar-icon"></i>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<div *ngIf="routePath==='/password/reset-request'; else restPassword">
        <form [formGroup]="formRequest" (ngSubmit)="onRequest()" class="login-form">
          <div class="alert alert-danger"
               *ngIf="formRequest.errors">
            Champ invalide
          </div>
          <div class="alert alert-danger"
               *ngIf="errorMsg">
            {{ errorMsg }}
          </div>
          <div class="alert alert-success"
               *ngIf="resetresponseMsg"
          >
            {{resetresponseMsg}}

          </div>
          <p>
            Veuillez saisir votre adresse e-mail afin de
            recevoir un mail de récupération.
          </p>
          <div class="controls">
            <div class="form-group">
              <label for="form_email">Adresse e-mail*</label>
              <input
                      formControlName="email"
                      id="form_email"
                      type="email"
                      class="form-control custom-form-control"
                      placeholder="Adresse e-mail"
                      [ngClass]="{'red-border': email.invalid && (email.dirty || email.touched)}"
              >
              <small id="emailHelp" class="form-text text-muted help-block with-errors"
                     *ngIf=" email.invalid && (email.dirty || email.touched)">
                Entrez une adresse e-mail valide
              </small>
            </div>
            <div class="button-controls mt-5">
              <button [disabled]="!formRequest.valid || isSubmitting" type="submit" class="btn green-btn">
                    <span>
                  <fa-icon class="display-none" [ngClass]="{
                        'rotating': isSubmitting
                        }" [icon]="['fas', 'spinner']"></fa-icon>
                </span>
                Valider
              </button>
            </div>
          </div>
        </form>
</div>
<ng-template #restPassword>
  <form [formGroup]="formReset" (ngSubmit)="onReset()" class="login-form">
    <div class="alert alert-danger"
         *ngIf="formReset.errors">
      Champs invalides
    </div>
    <div class="alert alert-danger"
         *ngIf="errorMsg">
      {{ errorMsg }}
    </div>
    <div class="alert alert-success"
         *ngIf="resetresponseMsg"
    >
      {{resetresponseMsg}}

    </div>
    <p>Entrez un nouveau mot de passe</p>
    <div class="controls contact-form">
      <div class="form-group">
        <label for="newPassword">Nouveau mot de passe</label>
        <input
                formControlName="newPassword"
                id="newPassword"
                type="password"
                class="form-control custom-form-control"
                placeholder="Nouveau mot de passe"
                [ngClass]="{'red-border': newPassword.invalid && (newPassword.dirty || newPassword.touched)}"
        >
        <div class="help-block with-errors"
             *ngIf=" newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                  <span>
                    Password required minimum 8 caracter
                  </span>
        </div>

      </div>
      <div class="form-group">
        <label for="retypePassword">Confirmer nouveau mot de passe</label>
        <input
                formControlName="retypePassword"
                id="retypePassword"
                type="password"
                placeholder="confirmer Mot de passe"
                class="form-control custom-form-control"

                [ngClass]="{'red-border': retypePassword.invalid && (retypePassword.dirty || retypePassword.touched)}"
        >
        <div class="help-block with-errors"
             *ngIf=" retypePassword.invalid && (retypePassword.dirty || retypePassword.touched)">
                  <span>
                    Password required minimum 8 caracter
                  </span>
        </div>


      </div>

      <div class="button-controls">
        <button [disabled]="!formReset.valid || isSubmitting" type="submit" class="btn green-btn" >
          <span>
                  <fa-icon class="display-none" [ngClass]="{
                        'rotating': isSubmitting
                        }" [icon]="['fas', 'spinner']"></fa-icon>
                </span>
          Confirmer
        </button>
      </div>
    </div>
  </form>
</ng-template>
    </div>
  </div>
</div>

